body {
    counter-reset:section;
    text-align:center;
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}
html {
    height: 100%;
}
input{

    border:none;
    outline:none;
    display:inline-block;
    height:34px;
    vertical-align:middle;
    position:relative;
    bottom:14px;
    right:9px;
    border-radius:22px;
    width:220px;
    box-sizing:border-box;
    padding:0 18px;
    margin: 20px;
}

form{
    margin-top:15%;
    display:inline-block;
}
button{
    background:rgba(197,62,126,.33) ;
    color:#fff;
    top:25px;
    border:none;
    outline:none;
    height:34px;
    position:relative;
    bottom:14px;
    right:9px;
    border-radius:22px;
    width:160px;
}

label{
    padding: 40%;
    font-size: 20px;

}
